<!-- -->
<ion-content padding class="animated fadeIn login auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>ParkingApp</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="loginForm.controls['email'].errors && !loginForm.controls['email'].pristine" style="margin: 20px 0">
          <div class="msgError" [hidden]="!loginForm.controls['email'].errors.email">El email es invalido</div>
      </div>

      <div *ngIf="loginForm.controls['password'].errors && !loginForm.controls['password'].pristine" style="margin: 20px 0">
          <div class="msgError" [hidden]="!loginForm.controls['password'].errors.required">El password es requerido</div>
      </div>

      <div *ngIf="msgErrorSignIn" style="margin: 20px 0">
          <div class="msgError">{{ msgErrorSignIn }}</div>
      </div>

      <div margin-top>
        <button ion-button block color="dark" tappable type="submit" [disabled]="loginForm.invalid">
          <span *ngIf="!loading">Login</span> 
          <ion-spinner *ngIf="loading"></ion-spinner>
        </button>
      </div>
    </form>

    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="secondary" tappable (click)="register()">Registrarse!</span>
    </div>
  </div>
</ion-content>
