<!-- -->
<ion-content class="auth-page">
  <div class="login-content">

    <!-- Logo -->
    <div padding text-center>
      <div class="logo"></div>
      <h2 ion-text class="text-primary">
        <strong>ParkingApp</strong>
      </h2>
    </div>

    <!-- Login form -->
    <form class="list-form" [formGroup]="registerForm" (ngSubmit)="register()">
      <ion-item>
        <ion-label floating>
          <ion-icon name="person" item-start class="text-primary"></ion-icon>
          Código Universidad
        </ion-label>
        <ion-input type="number" formControlName="code"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="mail" item-start class="text-primary"></ion-icon>
          Email
        </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>
          <ion-icon name="lock" item-start class="text-primary"></ion-icon>
          Password
        </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>

      <div *ngIf="registerForm.controls['code'].errors && !registerForm.controls['code'].pristine" style="margin: 20px 0">
          <div class="msgError" [hidden]="!registerForm.controls['code'].errors.required">El codigo es requerido</div>
      </div>

      <div *ngIf="registerForm.controls['email'].errors && !registerForm.controls['email'].pristine" style="margin: 20px 0">
          <div class="msgError" [hidden]="!registerForm.controls['email'].errors.email">El email es invalido</div>
      </div>

      <div *ngIf="registerForm.controls['password'].errors && !registerForm.controls['password'].pristine" style="margin: 20px 0">
          <div class="msgError" [hidden]="!registerForm.controls['password'].errors.required">El password es requerido</div>
      </div>

      <div *ngIf="msgErrorSignUp" style="margin: 20px 0">
          <div class="msgError">{{ msgErrorSignUp }}</div>
      </div>
      
      

      <div margin-top>
          <!-- [disabled]="!registerForm.valid" -->
        <button ion-button block color="dark" tappable type="submit" [disabled]="registerForm.invalid">
          <span *ngIf="!loading">SIGN UP</span> 
          <ion-spinner *ngIf="loading"></ion-spinner>
        </button>
      </div>
    </form>


    <!-- Other links -->
    <div text-center margin-top>
      <span ion-text color="primary" tappable (click)="login()">Tengo una cuenta!</span>
    </div>

  </div>
</ion-content>
